#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#selfimg,p,img {
    border-radius: 10%;
}

#yale{
    color : blue
}

#social-container{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

button{
    display: table-cell;
    margin:auto;
    background-image: linear-gradient(dodgerblue,darkturquoise);
    border-radius : 12px;
    border-bottom-color: white;
    border-color: white;
    border-style: solid;
    outline:none;
}
button:hover{
    border-color: black;
}

#buttonlabel{
    color: white;
}

#bottomnavbuttonlabel{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#interestimg{
    height: 10%;
    padding-left: 5%;
    padding-right: 5%;
    width: 15%;
    border-radius: 10%;
}